.triangle {
  position: relative;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: rgb(44, 45, 48) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}